:root {
    --background-color: #ffffff;
    --text-color: #000000;
}

header{
    top: 0;
    height: 45px;
    border-bottom: 2px solid var(--text-color);
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;        
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2rem;
    width: 90%;
}

form{
    width: 60%;
}

.horizontal{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.vertical{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    width: 100%;
    position: relative;
}

footer{
    bottom: 0;
    height: 30px;
    border-top: 2px solid var(--text-color);
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}