:root {
    --background-color: #ffffff;
    --text-color: #000000;
}

header{
    top: 0;
    height: 60px;
    border-bottom: 2px solid var(--text-color);
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;        
}