:root {
    --background-color: #ffffff;
    --text-color: #000000;
}

header{
    top: 0;
    height: 45px;
    border-bottom: 2px solid var(--text-color);
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;        
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2rem;
    width: 50%;
}

form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
}

input{
    width: 100%;
    position: relative;
}